
/* -------------------- contact block --------------------------------- */
@import '../../style/variables';

.contact {
    background: url('../../resources/img/bg-contacts.jpg');
    background-size: cover;
    padding: 0;
    position: relative;
 
    .contact__container {
        text-align: right;
    }
    .contact__title {
        margin-top: 50px;
        margin-right: 45px;
        padding: 15px;
        border: 1px solid #ffaeaf;
        border-radius: 8px;
        background: transparent;
    }
}
.contact__form {
    display: flex;
    justify-content: flex-end;
}