@import '../../style/variables';

.form__container{
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    margin: 50px 0;
    color: #111;
    position: relative;

    .modal-done{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: #fff;
        text-align: center;
        transform: scale(0);
        transition: transform ease .5s;

        &__text{
            position: absolute;
            top: 260px;
            left: 50%;
            transform: translateX(-50%);
            color: #111;
            font-family: 'Playfair Display';
            font-size: 22px;

        }
    
        & p {
            position: absolute;
            top: 140px;
            left: 50%;
            transform: translateX(-50%);
            color: #00856f;
            font-size: 100px;
            font-weight: 900;
            border-radius: 50%;
            opacity:  1;
        }
    }
}
 
.form__contact-form {
    margin: 20px 44px 20px 20px;
    width: 100%;
    max-width: 360px;
    border-left: 2px solid #ffaeaf;
    text-align: left;

    & input {
        width: 100%;
        padding: 20px 15px;
        border: 1px solid #757575;
        border-radius: 4px;
        font-size: 14px;
        margin: 10px 22px;
    }
    & textarea {
        width: 100%;
        height: 180px;
        padding: 15px;
        border: 1px solid #757575;
        border-radius: 4px;
        font-size: 14px;
        margin: 10px 22px 0 22px;
    }
    .form__button {
        display: inline-block;
        color: inherit;
        margin: 22px 22px 10px;
        padding: 15px 20px;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: #757575;
        border: 2px solid #757575;
        border-radius: 4px;
        transition: background-color 0.3s ease;

    }
    .active{
        color: #fff;
        background-color: #00856f;
        border: 2px solid #00856f;
            
        &:hover {
            color: #00856f;
            background: none;
            border: 2px solid #00856f;
        }
    }
}

@media (max-width: $small-desktop-width) {
    .contact__title{
        font-size: 30px !important;
    }
}
@media (max-width: $mobile-width) {
    .contact__container {
        text-align: center !important;
    }
    .contact__title{
        margin-right: 0 !important;
    }
    .contact__form {
        justify-content: center;
    }
    .form__container{
        margin: 20px 0;
    }
    .form__contact-form {
        margin: 0px 5px 0px 0;
        max-width: 280px;
        text-align: center;

        & input, textarea {
            width: 98%;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}