/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;

    &,&:before,&:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    }
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color:slategray;
    background-size: 100%;
}
.main {
    flex: 1 1 auto;
}
.header {
    background: url('../../resources/img/bg-1.jpg');
    background-size: cover;
    max-height: 100vh;
    overflow: hidden;
}
.footer {
    background-color:lavender;
}
.container {
    max-width: 1240px;
    width: 90%;
    height: 100%;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
    // background-color:rgba(255, 0, 0, 0.094);
}
section {
    min-height: 100vh;
}
.sidebar {
    position: absolute;
    right: 0;
}
/* ------------ animation ----------- */
// clicked
.nav__button-line {
    &.clicked:nth-child(1){
    transform: rotate(45deg) translate(-2px, 13px);
    transition: ease-out .5s;
    }
    &.clicked:nth-child(2){
        transform: scale(0.1);
        transition: ease-out .5s;
    }
    &.clicked:nth-child(3){
        transform: rotate(135deg) translate(0px, 15px);
        transition: ease-out .5s;
    }
// unclicked
    &.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
    }
}

@keyframes slidein {
    from {
      margin-left: 50%;
    }
  
    to {
      margin-left: 0%;
    }
}
@keyframes linegrow {
    from {
      width: 0%;
    }
  
    to {
        width: 100%;
    }
}