/* ----- aside social links --------------------------------- */
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.sidebar .sidebar__line {
  width: 3px;
  height: 225px;
  background-color: #ffaeaf;
  margin: 0px 0 30px 0;
}

.sidebar .sidebar__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.sidebar .sidebar__item:hover {
  background: #ffaeaf65;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}

/* ----- hero block --------------------------------- */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__content {
  z-index: 2;
  max-width: 450px;
}

.hero__content .hero__title {
  position: relative;
  font-size: 93px;
  line-height: calc(100 / 93 * 100%);
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

.hero__content .hero__title::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffaeaf;
  position: absolute;
  left: 0;
  bottom: 0px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: linegrow;
          animation-name: linegrow;
}

.hero__content .hero__text {
  color: #ffaeaf;
  font-size: 50px;
  line-height: 180%;
  padding-bottom: 20px;
  margin-top: 20px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.hero__content .hero__button {
  background-color: #00856f;
  color: #fff;
  font-size: 16px;
  padding: 20px 70px;
  margin-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  border: 1px solid rgba(255, 255, 255, 0);
}

.hero__content .hero__button:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #49b2a0;
}

@media (max-width: 992px) {
  .hero__content .hero__title {
    font-size: 75px;
    max-width: 350px;
  }
  .hero__content .hero__text {
    font-size: 40px;
  }
}

@media (max-width: 525px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__content .hero__title {
    font-size: 65px;
    max-width: 290px;
  }
}
/*# sourceMappingURL=header.css.map */