.ReactModal__Overlay{
    z-index: 100;
}
.order-modal{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: #85b5b3;
    margin: auto;
    color: #fff;
}
.order-modal__close{
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Arial';
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: none;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.oder-modal__select{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 350px;
    width: 100%;
}
.oder-modal__select-item{
    padding: .5em 1em;
    border: 2px solid #ffaeaf;
    background: transparent;
    color: #fff;
    border-radius: 4px;
    font-family: 'Teko';
    font-size: 20px;
    line-height: 1.2;
}
.selected{
    background: #ffaeaf;
}
.oder-modal__select-item:hover{
    background: #ffaeaf;
}
.oder-modal__contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 1em auto;
}
.oder-modal__field{
    margin: 0 1em;
    padding: 0 .5em;
    width: 155px;
    border-radius: 4px;
    line-height: 1.5;
    border: 1px solid #6b6b6b;
}
.oder-modal__textarea{
    display: block;
    border-radius: 8px;
    border: 1px solid #6b6b6b;
    padding: .5em;
}
.oder-modal__textarea:active{
    border: .5px solid #6b6b6b;
}
.oder-modal__button{
    margin: 1em auto 2em;
    border-radius: 8px;
    border: 1px solid #2d5c54;
    font-weight: 700;
    font-size: 14px;
    padding: 15px 40px;
}
.oder-modal__title{
    margin-top: 0;
    font-size: 30px;
}
.horisontal-line{
    position: unset;
    height: 50px;
    width: 100%;
    align-items: flex-end;
    text-align: center;
    margin-bottom: 2em;
}